.heading{

    width: 100%;
    padding: 0;
    border: none;

    font-family: 'Roboto Slab', serif;
    font-size: 300px;
}

.heading--one {
  font-size: 2em;
}

.heading--two {
  font-size: 6em;
}
