.header {
  max-width: $max-width;
  margin: 0 auto;
  height: 800px;
  background: transparent url(bg.jpg) no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
}
